.lt-sort {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    background-color: #eee;
    color: #666;
}

.lt-sort li {
    float: left;
    width: 25%;
    text-align: center;
}

.lt-sort li.now {
    color: darkorange;
}

.lt_product .loading {
    width: 60px;
    height: 60px;
    border: 3px solid #069;
    margin: 100px auto;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}