
.lt-history {
    padding: 10px;
    font-size: 12px;
    color: #666;
}

.lt-history .title {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.lt-history .content ul {
    border: 1px dashed red;
    border-bottom-color: transparent;
}

.lt-history .content ul li {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px dashed red;
}

.lt-history .content span {
    height: 30px;
    line-height: 30px;
}